div{
    /*background-color: red;*/
    border-width: 5px;
    border-color: green;

}
header{
    background-color: rgb(145, 144, 144);

}
footer{
    background-color: rgb(145, 144, 144);


}
ul{
    list-style-type: circle;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}